/* Menu */

*{
    margin: 0px;
    padding: 0px;
    font-family: Avenir, sans-serif;
}

nav{
    width: 50%;
    margin: 0 auto;
    background-color: white;
    position: sticky;
    top: 0px;
}

nav ul{
    list-style-type: none;
}

nav ul li {
    float: left;
    width: 33%;
    text-align: center;
    position: relative;
}

nav ul::after{
    content: "";
    display: table;
}

nav a{
    display: block;
    text-decoration: none;
    color: black;
    padding: 15px 0px;
}


.sous{
    display: none;
    box-shadow: 0px 1px 2px #CCC;
    background-color: white;
    position: absolute;
    width: 100%;
    z-index: 1000;
}

nav > ul li:hover .sous{
    display: block;
}

.sous li{
    float: none;
    width: 100%;
    text-align: left;
}

.sous a{
    padding: 10px;
}

.sous a:hover{
    border-bottom: none;
    color: white;
    background-color: purple;
}


.conteneur{
  margin: 100px 20px;
  height: 1500px;
}

#div1
{
    border: solid black 2px;
	font-size: 20px;
    width: 35%;
    padding-bottom : 20px;
}

#div2
{
	text-align: center;
    left: 50%;
	width: 50%;
    font-size: 20px;
	border: solid black 2px;
}

#div3
{
	font-size: 20px;
	border: solid black 2px;
}
